<launch>

    <rosparam file="$(find robot_gazebo)/config/ros_controller.yaml"/>

    <node name="Controller_Spawner" pkg="controller_manager" type="spawner" 
        args="kuka_arm_joint_state_controller kuka_arm_trajectory_controller gripper_controller"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="gui" value="true"/>
        <arg name="verbose" value="true"/>
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" respawn="false" 
        args="-urdf -param robot_description -model kuka_arm"/>

    <node name="RSP" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    
</launch>